n8n/workflows/master-router.json
{
  "name": "Master Router - Hybrid AI",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "hybrid-router",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "complexity",
      "name": "Complexity Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "code": "// Analyze request complexity\nconst text = $input.all()[0].json.text || '';\nlet complexity = 1;\ncomplexity += Math.min(text.length / 100, 3);\ncomplexity = Math.min(Math.round(complexity * 10) / 10, 10);\nconst taskType = text.length < 100 ? 'simple' : 'complex';\nreturn [{json: {text, complexity, taskType}}];"
      }
    },
    {
      "id": "switch",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "id": "ollama",
              "name": "To Ollama",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.complexity }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "smaller"
                    }
                  }
                ]
              }
            },
            {
              "id": "claude",
              "name": "To Claude",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.complexity }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "largerEq"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "ollama",
      "name": "Ollama Local",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ],
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.text }}"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        }
      }
    },
    {
      "id": "claude",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        400
      ],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.CLAUDE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": 4096
            }
          ]
        },
        "jsonBodyParameter": true
      }
    },
    {
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Complexity Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Analyzer": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Ollama Local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Local": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}